# Conexão com banco de dados e primeras queries

## Conexão com Postgresql

In [ ]:
import os

import psycopg2
from dotenv import load_dotenv
from sqlalchemy import create_engine

load_dotenv()

True

In [ ]:
%load_ext sql

In [ ]:
driver = "postgresql"
username = os.environ.get("DB_USER")
password = os.environ.get("DB_PASS")
host = os.environ.get("DB_HOST")
database = os.environ.get("DB_NAME")

In [ ]:
conn_string = f"{driver}://{username}:{password}@{host}/{database}"

In [ ]:
%sql {conn_string}

'Connected: root@olist'

## Consultas para geração de tabelas de RFV

In [ ]:
%%sql

SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';

 * postgresql://root:***@localhost/olist
9 rows affected.

[('public', 'tb_order_items', 'root', None, False, False, False, False),
 ('public', 'tb_product_category_name_translation', 'root', None, False, False, False, False),
 ('public', 'tb_order_reviews', 'root', None, False, False, False, False),
 ('public', 'tb_geolocation', 'root', None, False, False, False, False),
 ('public', 'tb_sellers', 'root', None, False, False, False, False),
 ('public', 'tb_order_payments', 'root', None, False, False, False, False),
 ('public', 'tb_orders', 'root', None, False, False, False, False),
 ('public', 'tb_products', 'root', None, False, False, False, False),
 ('public', 'tb_customers', 'root', None, False, False, False, False)]